@model EF_ProjectWork.ViewModels.LoginVM
@{
    /**/

    ViewBag.Title = "Login";
}

<h2 class="alert alert-light">Login Here</h2>

@using (Html.BeginForm())
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Username, new { @class = "col-form-label col-2" })
        <div class="col-5">
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control form-control-sm " })
            @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Password, new { @class = "col-form-label col-2" })
        <div class="col-5">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger " })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-sign-in" aria-hidden="true"> Submit</i></button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-2">
            @Html.ActionLink("New Register Here", "Register", "Accounts", new { }, new { @class = "btn-link" })
        </div>
    </div>

}

@section scripts{

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
